<!DOCTYPE html>
{% load staticfiles %}
<html lang = "en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "style.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
<body>
        <ul class='nav navbar-nav'>
            <li> <a class='navbar-brand' href="{% url 'index' %}">Home</a></li>
            <li> <a class='navbar-link' href="{% url 'engine' %}">Process</a></li>
        <ul>
 {% block body_block%}
 {% endblock %}

  <div class="bottom">
    <p>Please choose a .jpg file of your damaged vehicle and click "upload".</p>
    <p> After uploading the picture, please click "process" to begin damage evaluation.
    </p>
    </div>
</body>
</html>